@use '../../../../assets/scss/core' as *;

.cs-accordion {
    &.has-divider {
        // .cs-accordion__item + .cs-accordion__item {
        //     border-top: thin solid #DCE2E1;
        // }
        .cs-accordion__item {
            &:last-child {
                .cs-accordion__header {
                    border-color: transparent;
                }
            }
        }
    }
    &__item {
        cursor: pointer;
        padding-top: 20px;
        &.is-active {
            .icon-plus {
                background-color: #FF5B1B;
                color: #FFF;
                &::after {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }
    }
    &__header {
        @include d-flex(30px, null, space-between);
        padding-bottom: 15px;
        border-bottom: thin solid #DCE2E1;
    }
    &__icon {
        flex-shrink: 0;
        @include round-box(30px, 4px);
        background-color: #E7ECEB;
        color: #0A1119;
        &.icon-plus {
            transition: .3s ease;
            &::before, &::after {
                width: 13px;
                height: 1px;
            }
        }
    }
    &__content {
        height: 0;
        overflow: hidden;
        transition: height 500ms ease;
        > p {
            padding-block: 22px;
            padding-bottom: 16px;
            cursor: default;
            max-width: 675px;
        }
    }
}