@use '../../../../assets/scss/core' as *;

// Counter
.cs-counter {
    @include d-flex(null, center); 
    &__number {
        display: inline-block;
        &-suffix, &-prefix {
            display: inline-block;
        }
    }
}

// Counter Box
.cs-counter-box {
    @include d-inline-flex(15px);
}

.cs-counter-box[data-layout="2"] {
    gap: 24px;
    color: #FFF;
    .cs-counter-box {
        &__icon {
            height: 67px;
            @media #{$max-lg} {
                height: auto;
            }
        }
        &__number {
            @include h2;
            margin-bottom: 12px;
        }
        &__title {
            color: #FFF;
            margin-bottom: 7px;
        }
        &__description {
            @include paragraph-5;
        }
    }
}