@use '../../../../assets/scss/core' as *;

.cs-wpcf7 {
    .wpcf7 {
        &-form {
            display: flex;
        }
        .wpcf7-form-control {
            width: 100%;
        }
    }
    .wpcf7-form-control-wrap {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        input, textarea, select {
            width: 100%;
        }
    }
    label {
        display: block;
    }
}