@use '../../../assets/scss/core' as *;

.woocommerce-shop, .woocommerce-page.archive {
    &.has-sidebar {
        #main {
            .inner {
                @include d-flex( 90px 30px, flex-start, space-between );
            }
        }
        .content-area {
            flex: 0 1 870px;
        }
        .sidebar-area {
            flex: 0 1 392px;
        }
        @media #{$max-md} {
            #main .inner {
                flex-wrap: wrap;
            }
            .content-area, .sidebar-area {
                flex: 0 1 100%;
            }
        }
    }
    .content-area {
        &__header {
            @include d-flex(15px 30px, center, space-between);
            margin-bottom: 34px;
            &-left {
                @include d-inline-flex( 34px );
                .woocommerce-result-count {
                    color: var(--cs-heading-color);
                    margin: 0
                }
                .buttons {
                    @include d-inline-flex(10px);
                    .cs-button {
                        color: #DCDCDC;
                        background-color: transparent;
                        padding: 0;
                        &:hover, &.is-active {
                            color: var(--cs-primary-color);
                        }
                    }
                }
            }
            &-right {
                .woocommerce-ordering {
                    margin: 0;
                }
            }
        } 
    }
    .nice-select {
        min-width: 316px;
        padding-inline: 21px;
        height: 54px;
        color: var(--cs-heading-color);
        @include d-flex(null, center);
        font-size: 16px;
        &::after {
            width: 8px;
            height: 8px;
            border-width: 1px;
            border-color: currentColor;
            right: 20px;
            margin-top: -6px;
        }
        .list {
            min-width: 100%;
            margin-top: 1px;
        }
    }
    .pagination {
        margin-top: 121px;
    }
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price {
    @include h7;
    color: #4B535D;
}