@use 'core.scss' as *;

.boicon-x {
    @include d-inline-flex(null center, center);
}

.d-inline-flex-center {
    @include d-inline-flex(null, center, center);
}

.categories {
    @include d-flex(5px);
    flex-wrap: wrap;
    > a {
        @include d-inline-flex(5px, center);
    }
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #DCDCDC;
}

.cs-stars, .stars {
    @include d-flex(5px);
}

.columns-1 {
    --cs-column: 100%;
}

.columns-2 {
    --cs-column: 50%;
}

.columns-3 {
    --cs-column: 33.33332%;
}

.columns-4 {
    --cs-column: 25%;
}

.columns-5 {
    --cs-column: 20%;
}

.is-loading, .loading, .adding {
    pointer-events: none !important;
    filter: blur(1.5px) !important;
    animation: pulseFade 2.5s ease-in-out infinite !important;
}

.check-box {
    @include round-box(14px, 3.5px);
    border: thin solid #DCDCDC;
    flex-shrink: 0;
}

.svg-linked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.radio-field {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: var(--cs-heading-color);

    > input {
        display: none;
    }

    /* ===== RADIO ===== */
    &__checked {
        position: relative;
        @include round-box(10px);
        @include d-inline-flex(null, center, center);
        border: thin solid currentColor;
        flex: 0 0 auto;
        &::after {
            content: '';
            position: absolute;
            inset: 1px;
            background-color: currentColor;
            border-radius: inherit;
            opacity: 0;
            transform: scale(.6);
            transition: opacity .25s ease, transform .25s ease;
        }
    }

    > input:checked + .radio-field__checked::after {
        opacity: 1;
        transform: scale(1);
    }

    /* ===== LABEL ===== */
    &__label {
        display: inline-flex;
        align-items: center;
    }

    /* ===== TOOLTIP ===== */
    &::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%;
        bottom: calc(100% + 10px);
        transform: translateX(-50%) translateY(6px);

        background: #060F16;
        color: #fff;
        font-size: 12px;
        line-height: 1;
        padding: 6px 10px;
        border-radius: 6px;
        white-space: nowrap;

        opacity: 0;
        pointer-events: none;
        transition: all .25s ease;
        z-index: 20;
    }

    /* arrow */
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%) translateY(6px);

        border: 5px solid transparent;
        border-top-color: #060F16;

        opacity: 0;
        transition: all .25s ease;
        z-index: 20;
    }

    &:hover::after,
    &:hover::before {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    &:not([data-tooltip])::after,
    &:not([data-tooltip])::before {
        display: none;
    }

    > input:checked ~ .radio-field__label {
        font-weight: 500;
    }
}

.cs-image {
    display: inline-flex;
}

.overflow-visible {
    overflow: visible !important;
}

.carousel--box-shadow {
    > .carousel__container {
        overflow: visible;
        .swiper-slide {
            opacity: 0;
            transition: opacity 300ms ease;
            &.swiper-slide-visible, &.swiper-slide-fully-visible {
                opacity: 1;
            }
        }
    }
}

.box-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.box-gradient {
    isolation: isolate;
    position: absolute;
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease;
    }
    &.is-active, &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.carousel__navigation--hide {
    display: none !important;
}