@use 'core.scss' as *;

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
    --steelnova-box-size: 30px;
    --steelnova-background-color: var(--steelnova-primary-color);
    --steelnova-background-color-hover: var(--steelnova-secondary-color);
    --steelnova-animation-duration: .3s;
    --steelnova-animation-name: none;
    --steelnova-transition-duration: .3s;
    --steelnova-rotate: 0deg;
    --steelnova-translate-x: 0px;
    --steelnova-translate-y: 0px;
    --steelnova-column-gap: 30px;
    --steelnova-row-gap: 30px;
    --steelnova-highlight-color: #B0FF4E;
    --steelnova-line-color: rgba(0, 0, 0, .15);
    --steelnova-height: 1px;
    --steelnova-border-style: solid;
    --steelnova-border-color: #000;
    --steelnova-color: #000;
    --steelnova-columns-1: 100%;
    --steelnova-columns-2: 50%;
    --steelnova-columns-3: 33.333333333%;
    --steelnova-columns-4: 25%;
    --steelnova-columns-5: 20%;
    --steelnova-columns-6: 16.666666666%;
    --steelnova-width: 100%;
    --steelnova-height: 100%;
    --steelnova-column: 33.3332%;
    --steelnova-line-thickness: 1px;
    --steelnova-angle: 0deg;
    --steelnova-gap: 15px;
    --steelnova-container: 1300px;
}

body {
    background-color: var(--steelnova-body-bg-color, transparent);
    font-family: var(--steelnova-primary-font), sans-serif;
    font-size: 16px;
    line-height: 1.625;
    color: #4B535D;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.body-overflow {
        overflow: hidden;
    }    
}

a {
    cursor: pointer;
    color: var(--steelnova-link-color);
    text-decoration: none;
    @include transition;
    &:hover {
        color: var(--steelnova-link-hover-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--steelnova-heading-color);
    font-family: var(--steelnova-heading-font);
    font-weight: 600;
}

h1 {
    @include h1;
}
h2 {
    @include h2;
}
h3 {
    @include h3;
}
h4 {
    @include h4;
}
h5 {
    @include h5;
}
h6 {
    @include h6;
}

ul, ol {
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
}

svg {
    height: auto;
    &:not(.svg-origintal) {
        circle[fill]:not([fill^="url("]) {
            stroke: currentColor;
            stroke-opacity: 1;
        }
        path[fill]:not([fill^="url("]), rect[fill]:not([fill^="url("]) {
            fill: currentColor;
            fill-opacity: 1;
        }
        path[stroke^="#"] {
            stroke: currentColor;
        }
    }
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    &::placeholder {
        color: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}