@use 'core.scss' as *;

.single {
    #main {
        .inner {
            @include site-spacing-block;
        }
    }
    &.has-sidebar {
        #main {
            padding-inline: 15px;
            .inner {
                @include d-flex(100px 30px, null, space-between);
                align-items: flex-start;
                .content-area {
                    flex: 0 1 850px;
                    max-width: 850px;
                }
                .sidebar-area {
                    flex: 0 1 392px;
                }
                @media #{$max-md} {
                    flex-wrap: wrap;
                    .content-area {
                        flex: 0 1 100%;
                        max-width: 100%;
                    }
                    .sidebar-area {
                        flex: 0 1 100%;
                    }
                }
            }
        }
        &.single-post {
            #main {
                --cs-container: 1300px;
            }
        }
        &.single-project {
            #main {
                --cs-container: 1300px;
                padding-inline: 15px;
                .inner {
                    @include d-flex(100px 30px, null, space-between);
                    .content-area {
                        flex: 0 1 860px;
                        max-width: 860px;
                    }
                    .sidebar-area {
                        flex: 0 1 392px;
                    }
                    @media #{$max-md} {
                        flex-wrap: wrap;
                        .content-area {
                            flex: 0 1 100%;
                            max-width: 100%;
                        }
                        .sidebar-area {
                            flex: 0 1 100%;
                        }
                    }
                }
            }
        }
        &.single-service {
            #main {
                --cs-container: 1294px;
                .content-area {
                    flex: 0 1 860px;
                    max-width: 860px;
                    min-width: 0;
                }
                @media #{$max-md} {
                    .content-area, .sidebar-area {
                        max-width: 100%;
                        flex: 0 1 100%;
                    }
                }
            }
        }
    }
    &.single-post {
        #main {
            --cs-container: 825px;
        }
    }
    &.single-project {
        #main {
            padding: 0;
            --cs-container: 100%;
        }
    }
    &.single-service {
        --cs-container: 1100px;
    }
    &.single-member {
        --cs-container: 100%;
        #main {
            .inner {
                @include site-spacing-block(140px, 120px, 100px);
            }
        }
    }
}

