@use 'core.scss' as *;

.single {
    &.single-post {
        #main {
            .inner {
                @include site-spacing-block(108px, 105px, 90px);
            }
        }
        padding-inline: 15px;
        .container {
            max-width: 825px;
        }
        &.has-sidebar {
            #main {
                .container {
                    max-width: 1300px;
                }
            }
        }
    }
    &.single-project, &.single-member {
        --steelnova-container: 100%;
        #main {
            .inner {
                @include site-spacing-block(140px, 120px, 100px);
            }
        }
        // .container {
        //     max-width: 1570px;
        // }
    }
}

