@use '../core.scss' as *;

button, .cs-button {
    position: relative;
    @include d-inline-flex(15px, center, center);
    cursor: pointer;
    border: none;
    outline: none;
    white-space: nowrap;
    @include transition;
    color: var(--mt-link-color);
    .button-icon {
        @include d-inline-flex(null, center, center);
    }
}

.cs-button--hamburger {
    background-color: transparent;
}

.cs-button--disable {
    cursor: not-allowed;
}

.cs-button--primary {
    height: 54px;
    @include text-button-3;
    background-color: #FF5B1B;
    color: #FFF;
    padding-inline: 30px;
    border-radius: 8px;
}