@use '../core.scss' as *;

.grid {
    width: 100%;
    &__inner {
        width: calc(100% + var(--cs-column-gap));
        display: flex;
        flex-wrap: wrap;
        margin-inline: calc( -1 * ( var(--cs-column-gap) / 2 ) );
        margin-block: calc( -1 * ( var(--cs-row-gap) / 2 ) );
    }
    &__item {
        flex: 0 1 var(--cs-column);
        max-width: var(--cs-column);
        padding-inline: calc( var(--cs-column-gap) / 2 );
        padding-block: calc( var(--cs-row-gap) / 2 );
        &.grid__item--fluid {
            --cs-column: 100%;
        }
    }

    &.is-loading {
        pointer-events: none;
        filter: blur(1px);
        animation: pulseFade 2.5s ease-in-out infinite;
    }
}

