@use '../core.scss' as *;

.body__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 99998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear;
    pointer-events: none;
    cursor: pointer;
    &.is-visible {
        pointer-events: visible;
        opacity: 1;
        visibility: visible;
    }
}

// Video Popup
.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    @include d-flex(null, center, center);
    padding-inline: 15px;
    pointer-events: none;
    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
    &__inner {
        position: relative;
        width: 100%;
        max-width: 1200px;
        aspect-ratio: 16 / 9;
        background-color: #000;
        transform: scale(0);
        transition: transform 0.3s ease;
        pointer-events: visible;
    }

    &.is-visible &__inner {
        transform: scale(1);
    }
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .button--close {
        @include box-size(42px);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        background-color: rgba($color: #FFF, $alpha: .15);
        color: #FFF;
    }
}