@use '../core.scss' as *;

.pagination {
    @include d-flex(10px, null, center);
    margin-top: clamp(3.125rem, 1.7589rem + 3.7946vw, 6.3125rem);
    .page-numbers {
        @include round-box(50px, 6px);
        @include d-inline-flex(null, center, center);
        background-color: transparent;
        @include h6;
        color: #4B535D;
        &.current, &:hover {
            background-color: var(--cs-primary-color);
            color: #FFF;
        }
    }
}