@use '../core.scss' as *;

.main, .hero {
    .inner {
        padding-block: 120px;
    }
}

.hero {

}


#main {
    overflow-x: clip;
    max-width: 100%;
    padding-inline: 15px;
}

.container {
    max-width: var(--cs-container, 1300px);
    margin: 0 auto;
}


.elementor-page:not(.has-sidebar):not(.single) {
    #main {
        --cs-container: 100%;
        padding: 0;
        .inner {
            padding: 0;
        }
    }
}

body {
    // &.has-sidebar {
    //     #main {
    //         padding-inline: 15px;
    //         .inner {
    //             @include site-spacing-block;
    //             @include d-flex(30px, null, space-between);
    //         }
    //         .container {
    //             max-width: var(--cs-container, 1300px);
    //         }
    //         .sidebar-area {
    //             min-width: 320px;
    //         }
    //     }
    // }
    &.sidebar-position-left {
        #main {
            .inner {
                flex-direction: row-reverse;
            }
        }
    }
}
