.elementor-element {
	background: center center / cover no-repeat;
}

.elementor-widget-steelnova-image, .elementor-widget-steelnova-icon {
    line-height: 0;
}

.elementor-widget-steelnova-background {
    width: 100%;
    max-width: none;
    height: 500px;
}

.elementor-widget-steelnova-navigation-carousel {
    pointer-events: none;
}